.item-show-form__content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.item-show-form__image {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 30px;
}

.image-picture {
    width: 100%;
}

.item-show-form__info {
    width: 50%;
    padding-left: 30px;
    padding-top: 30px;
}

.item-name{
    margin: 5px 0;
    font-size: 30px;
    font-weight: bold;
}

.item-brand {
    font-size: 15px;
    margin-bottom: 10px;
}

.item-price {
    font-size: 25px;
    margin-bottom: 10px;
}

.item-show-form__brand {
    margin: 5px 0;
}

.item-show-form__price {
    margin: 5px 0;
    font-size: 20px;
}

.ratings {
    padding: 5px 20px;
    display: flex;
}

.stars {
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.form-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-star.far::before {
    font-size: 24px;
    cursor: pointer;
}

.far.fa-comment:before {
        font-size: 24px;
}

.comments {
    padding-left: 30px;
    font-size: 20px;
    display: flex;
    /* アイコンとテキストを横並びに */
    flex-direction: column;
    /* アイコンを縦に並べる */
    align-items: center;
    /* 水平中央に配置 */
}

.purchase-button-group {
    outline: none;
    border: none;
    margin-top: 20px;
    width: 80%;
    background-color: #FF5555;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.purchase-button {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.item-show-form__title {
    margin: 20px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.content__group {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.content__title {
    font-weight: bold;
    margin-right: 50px;
}

.category__choices {
    display: inline-block;
    background-color: #d9d9d9;
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
    margin-right: 20px;
}

.comment-list {
    display: flex;
}

.comment-list__title {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.comment-list__count{
    color: #5f5f5f;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.comment {
    width: 80%;
}

.comment-user {
    font-weight: bold;
    font-size: 20px;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-content {
    background-color: #d9d9d9;
    padding: 10px;
    margin: 20px 0;
}

.content__title-comment {
    font-weight: bold;
}

.content-comment {
    width: 80%;
    height: 200px;
    padding: 5px;
}

.error-message {
    color: #FF5555;
    font-size: 15px;
}

.submit-button {
    outline: none;
    border: none;
    margin-top: 10%;
    width: 80%;
    background-color: #FF5555;
    color: #FFF;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}